extends ./layout/_layout.jade

block content
  
  //- BEGIN: HEADER
  header.c-layout-header.c-layout-header-4.c-bordered.c-layout-header-default-mobile.c-header-transparent-dark(data-minimize-offset='80')
    .c-navbar
      .container
        //- BEGIN: BRAND
        .c-navbar-wrapper.clearfix
          .c-brand.c-pull-left
            a.c-logo(href='index.html')
              img.c-desktop-logo(src='assets/images/logo.png', alt='JANGO')
              img.c-desktop-logo-inverse(src='assets/images/logo.png', alt='JANGO')
              img.c-mobile-logo(src='assets/images/logo.png', alt='JANGO')
              
            button.c-hor-nav-toggler(type='button', data-target='.c-mega-menu')
              span.c-line
              span.c-line
              span.c-line
            button.c-topbar-toggler(type='button')
              i.fa.fa-ellipsis-v
            button.c-search-toggler(type='button')
              i.fa.fa-search
              
          //- BEGIN: QUICK SEARCH
          form.c-quick-search(action='#')
            input.form-control(type='text', name='query', placeholder='Type to search...', value='', autocomplete='off')
            span.c-theme-link ×

          //- BEGIN: MEGA MENU
          nav.c-mega-menu.c-mega-menu-dark.c-mega-menu-dark-mobile.c-fonts-uppercase.c-fonts-bold.c-pull-right
            ul.nav.navbar-nav.c-theme-nav
              li.c-menu-type-classic.c-active
                a.c-link.dropdown-toggle(href='#index')
                  | 首頁
              li.c-menu-type-classic
                a.c-link.dropdown-toggle(href='#intro')
                  | 介紹
              //- li.c-menu-type-classic
              //-   a.c-link.dropdown-toggle(href='http://blog.mokayo.com/')
              //-     | 部落格
              li.c-menu-type-classic
                a.c-link.dropdown-toggle(href='#feature')
                  | 獨家功能
              li.c-menu-type-classic
                a.c-link.dropdown-toggle(href='#joinus')
                  | 與我聯絡
                //- ul.dropdown-menu.c-menu-type-classic.c-pull-left
                //-   li
                //-     a(href='javascript:;') 團隊介紹
              //- li.c-menu-type-classic
              //-   a.c-link.dropdown-toggle(href='javascript:;')
              //-     | FAQ

                    
              //- li.c-search-toggler-wrapper
              //-   a.c-btn-icon.c-search-toggler(href='#')
              //-     i.fa.fa-search

  //- BEGIN: PAGE CONTAINER
  main.c-layout-page#index
    //- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-11
    section.c-layout-revo-slider.c-layout-revo-slider-11
      .tp-banner-container.tp-fullscreen.tp-fullscreen-mobile.c-arrow-darken(data-bullets-pos='center')
        .tp-banner
          ul
            //- BEGIN: SLIDE #1
            li(data-transition='fade', data-slotamount='1', data-masterspeed='1000')
              img(alt='', src='assets/images/cover-1.jpg', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
              .caption.customin.customout(data-x='center', data-y='center', data-hoffset='', data-voffset='-50', data-speed='500', data-start='1000', data-customin='x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-easing='Back.easeOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='600')
                h3.c-main-title.c-font-48.c-font-bold.c-font-center.c-font-uppercase.c-font-dark.c-block
                  | 打造網路品牌利器
              .to-caption.lft(data-x='center', data-y='center', data-voffset='110', data-speed='900', data-start='2000', data-transform_idle='o:1;', data-transform_in='x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;', data-transform_out='x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;')
                a.c-action-btn.btn.btn-lg.c-btn-square.c-theme-btn.c-btn-bold.c-btn-uppercase(href='#') Learn More

              .caption.lft(data-x='center', data-y='center', data-voffset='140', data-speed='900', data-start='2000', data-easing='easeOutExpo')
                a.c-action-btn.btn.btn-xlg.c-btn-border-1x.c-btn-square.btn-default.c-btn-bold.c-btn-uppercase(href='#joinus') 立刻瞭解


    //- BEGIN: CONTENT/FEATURES/FEATURES-11
    section.about-content#intro
      #about-mokayo
        h3.c-font-24.c-font-center 
          | 完整電商系統
          span.c-font-36.c-font-white Picklete
        p.c-font-17.c-font-center 
          | 為中小型客戶專屬電商系統，透過層層模組打造，建立完整電商系統，小電商大營收，提高結帳率利器。
          | 從現在開始，透過 Picklete ，創造自我品牌忠實客戶，增加使用者互動，創造更高營收。
          
    section.feature-content
      .container-fluid
        .row
          .col-xs-12.col-sm-4.c-card
              span.icon-share
              h3.c-font-24.c-font-yellow-3.c-font-bold.c-font-center
                | 小店家福音
              p.c-font-white.c-font-16
                | 提供中小型客戶多種優惠方案，開店的第一步就是採用 Picklete 電商系統，打造專屬品牌網站。
          .col-xs-12.col-sm-4.c-card
              span.icon-rocket
              h3.c-font-24.c-font-yellow-3.c-font-bold.c-font-center
                | 多元支付系統
              p.c-font-white.c-font-16
                | 獨家離線付款，結合第三方支付金流，讓使用者從瀏覽到付款一路完成，提高成交率。
          .col-xs-12.col-sm-4.c-card
              span.icon-speedometer
              h3.c-font-24.c-font-yellow-3.c-font-bold.c-font-center
                | 省時好幫手
              p.c-font-white.c-font-16
                | 輕鬆打造官方網站，部落格，電商購物，三位一體零時差，即刻上線。

    //- BEGIN: CONTENT/SLIDERS/TEAM-1
    section.course-content.c-bg-white#feature
      .c-content-box.c-size-md
        .c-content-title#course-title
          h3.c-center.c-font-bold.c-font-28 全能購物車功能
          
        .container
          .c-course-slider(data-slider='owl',  data-items='3', data-desktop-items='3', data-tablet-items='2', data-mobile-small-items='1')
            .owl-carousel.owl-course
              .item
                .c-course-detail
                  .c-caption.c-content-overlay(style="background-image:url('assets/images/image1.png')")
                    .c-overlay-wrapper
                      .c-overlay-content
                        p.c-font-white Picklete 上架快手
                  .c-body
                    .c-head.c-font-20.c-font-yellow-3
                      | 全方位電商功能
                    
                    .c-date.c-font-20
                      //- i.fa.fa-calendar
                      | 從訂單管理到行銷模組，完整結合電子商務功能，滿足台灣賣家所有開店需求。
                    //-   br
                    //-   i.fa.fa-clock-o
                    //-   | 09:00 - 17:00
                    //- button.btn.btn-block.btn-danger(type='button') 立即報名
                  //- .c-tags
                  //-   span.icon-tag
                  //-   | HTML, CSS, Newbie
              
              .item
                .c-course-detail
                  .c-caption.c-content-overlay(style="background-image:url('assets/images/image2.jpg')")
                    .c-overlay-wrapper
                      .c-overlay-content
                        p.c-font-white Picklete 易用版面
                        
                  .c-body
                    .c-head.c-font-20.c-font-yellow-3
                      | UX 團隊打造易用版面
                      
                    .c-date.c-font-20
                      | 打造連老人家都可以輕鬆購買介面，提高成交率及回客率，輕鬆達到品牌第一步。
                    
              .item
                .c-course-detail
                  .c-caption.c-content-overlay(style="background-image:url('assets/images/image3.png')")
                    .c-overlay-wrapper
                      .c-overlay-content
                        p.c-font-white Picklete 貼心方案
                  .c-body
                    .c-head.c-font-20.c-font-yellow-3
                      | 整合多元金流及離線支付
                    
                    .c-date.c-font-20
                      | 獨家離線支付及金流整合，小店家也能輕鬆成為網路品牌。

        //- .col-md-12
        //-   a.btn.btn-md.c-btn-border-1x.c-theme-btn.c-font-18.c-more(href='') 
          
    //- // BEGIN: CONTENT/TILES/TILE-2
    //- section.blog-content
    //-   .c-content-box
    //-     .c-content-tile-grid.c-bs-grid-reset-space(data-auto-height='true')
    //-       .row
    //-         .col-md-6
    //-           .c-content-tile-1
    //-             .row
    //-               .col-sm-6
    //-                 .c-tile-content.c-bg-white.c-arrow-left
    //-                   .c-image.c-overlay-object(data-height='height', style='background-image: url(assets/img/content/stock/12_grey.jpg)')
    //-               .col-sm-6
    //-                 .c-tile-content.c-bg-white(data-height='height')
    //-                   .c-wrapper
    //-                     .c-body
    //-                       h3.c-tile-title.c-font-bold.c-center AMP 與 RWD ？
    //-                       p.c-tile-body.c-font-15
    //-                         | 行動網路的網頁讀取的效能一直的開發者關注的議題，因此 2015 年 10 月， Google 宣布 加速行動網頁（Accelerated Mobile Pages ， AMP）計畫。
    //-                       a.btn.btn-sm.c-btn-grey-2.c-btn-uppercase.c-btn-bold.c-btn-border-1x.c-btn-square(href='#' target="_blank") More
            
    //-         .col-md-6
    //-           .c-content-tile-1
    //-             .row
    //-               .col-sm-6
    //-                 .c-tile-content.c-bg-white.c-arrow-left
    //-                   .c-image.c-overlay-object(data-height='height', style='background-image: url(assets/img/content/stock/39_grey.jpg)')
    //-               .col-sm-6
    //-                 .c-tile-content.c-bg-white(data-height='height')
    //-                   .c-wrapper
    //-                     .c-body
    //-                       h3.c-tile-title.c-font-bold.c-center 新世代行動開發框架 : lonic 2
    //-                       p.c-tile-body.c-font-15
    //-                         | 網頁程式設計大約起源於西元1990年的HTML，之後更有許多不同的網頁程式語言和框架如雨後春筍般冒出。
    //-                       a.btn.btn-sm.c-btn-grey-2.c-btn-bold.c-btn-border-1x.c-btn-square(href='#' target="_blank") More
            
    //-         .col-md-12
    //-           a.btn.btn-md.c-btn-border-1x.c-btn-grey-2.c-btn-bold.c-read-more(href='http://blog.mokayo.com/' target="_blank") 更多文章

    
    //- BEGIN:CONTENT/SLIDERS/CLIENT-LOGOS-2
    //- section.parter-content
    //-   .c-content-box.c-size-sm
    //-     .c-content-title-1
    //-       h3.c-center.c-font-bold 合作夥伴
 
    //-   .container.parter-box
    //-     .row
    //-       .col-xs-12.col-sm-3
    //-       .col-xs-12.col-sm-3
    //-         a(href='http://exma-square.co/' target="_blank")
    //-           img(src='assets/images/partner-exma.png', alt='EXMA-square.co')
    //-       .col-xs-12.col-sm-3
    //-         a(href='http://trunk-studio.com/' target="_blank")
    //-           img(src='assets/images/partner-trunk.png', alt='')
                    
    section.subscribe-content#joinus
      .c-content-box.c-size-md.c-bg-parallax
        .container
          .col-sm-4
            h3.c-center.c-font-bold.c-font-white.c-font-24 
              i.fa.fa-bolt
              | 請專人與我聯絡
          .col-sm-6
            form(action='http://exma-square.us13.list-manage.com/tweet-subscribe', method="POST")
              .input-group.input-group-lg
                input#subId(type='hidden', name='id', value='us13-3cbc77dd061f94042895497df-195b3872c2')
                input#EMAIL.form-control.c-square.c-font-grey-3.c-border-grey.c-theme(type='text', name='EMAIL', placeholder='請輸入 Email 聯絡方式', required)
                span.input-group-btn
                  button#email-us.btn.c-theme-btn.c-theme-border.c-btn-square.c-btn-uppercase.c-font-16(type='button') 與我聯絡





  include ./partials/_footer