extends ./layout/_layout.jade

block content
  
  //- BEGIN: HEADER
  header.c-layout-header.c-layout-header-4.c-bordered.c-layout-header-default-mobile.c-header-transparent-dark(data-minimize-offset='80')
    .c-navbar
      .container
        //- BEGIN: BRAND
        .c-navbar-wrapper.clearfix
          .c-brand.c-pull-left
            a.c-logo(href='index.html')
              img.c-desktop-logo(src='assets/images/logo.png', alt='JANGO')
              img.c-desktop-logo-inverse(src='assets/images/logo.png', alt='JANGO')
              img.c-mobile-logo(src='assets/images/logo.png', alt='JANGO')
              
            button.c-hor-nav-toggler(type='button', data-target='.c-mega-menu')
              span.c-line
              span.c-line
              span.c-line
            button.c-topbar-toggler(type='button')
              i.fa.fa-ellipsis-v
            button.c-search-toggler(type='button')
              i.fa.fa-search
              
          //- BEGIN: QUICK SEARCH
          form.c-quick-search(action='#')
            input.form-control(type='text', name='query', placeholder='Type to search...', value='', autocomplete='off')
            span.c-theme-link ×

          //- BEGIN: MEGA MENU
          nav.c-mega-menu.c-mega-menu-dark.c-mega-menu-dark-mobile.c-fonts-uppercase.c-fonts-bold.c-pull-right
            ul.nav.navbar-nav.c-theme-nav
              li.c-menu-type-classic.c-active
                a.c-link.dropdown-toggle(href='javascript:;')
                  | 首頁
              li.c-menu-type-classic
                a.c-link.dropdown-toggle(href='#')
                  | 課程
              li.c-menu-type-classic
                a.c-link.dropdown-toggle(href='http://blog.mokayo.com/')
                  | 部落格
              li.c-menu-type-classic
                a.c-link.dropdown-toggle(href='#')
                  | 關於
                ul.dropdown-menu.c-menu-type-classic.c-pull-left
                  li
                    a(href='javascript:;') 團隊介紹
              li.c-menu-type-classic
                a.c-link.dropdown-toggle(href='javascript:;')
                  | FAQ

                    
              li.c-search-toggler-wrapper
                a.c-btn-icon.c-search-toggler(href='#')
                  i.fa.fa-search

  //- BEGIN: PAGE CONTAINER
  main.c-layout-page
    //- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-11
    section.c-layout-revo-slider.c-layout-revo-slider-11
      .tp-banner-container.tp-fullscreen.tp-fullscreen-mobile.c-arrow-darken(data-bullets-pos='center')
        .tp-banner
          ul
            //- BEGIN: SLIDE #1
            li(data-transition='fade', data-slotamount='1', data-masterspeed='1000')
              img(alt='', src='assets/images/cover-1.jpg', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat')
              .caption.customin.customout(data-x='center', data-y='center', data-hoffset='', data-voffset='-50', data-speed='500', data-start='1000', data-customin='x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-easing='Back.easeOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='600')
                h3.c-main-title.c-font-48.c-font-bold.c-font-center.c-font-uppercase.c-font-dark.c-block 
                  | 技術學習零距離
              .caption.lft(data-x='center', data-y='center', data-voffset='140', data-speed='900', data-start='2000', data-easing='easeOutExpo')
                // a.c-action-btn.btn.btn-xlg.c-btn-border-1x.c-btn-square.btn-default.c-btn-bold.c-btn-uppercase(href='#') 打造完全開發環境，零時差遠端技術學習


    //- BEGIN: CONTENT/FEATURES/FEATURES-11
    section.about-content
      #about-mokayo
        h3.c-font-24.c-font-center 
          | We Are 
          span.c-font-36.c-font-white MOKAYO
        p.c-font-17.c-font-center 
          | Mokayo 為台灣原住民，鄒語，原意為收成祭典，也是一種由長輩帶領新一代年輕人互相族群認識、瞭解。
          br
          | 我們透過資深工程師帶領入門新手，讓熱情的學員、初學者也可以踏入技術的殿堂，達到技術的傳承與知識的延續。
          
    section.feature-content
      .container-fluid
        .row
          .col-xs-12.col-sm-4.c-card
              span.icon-share
              h3.c-font-24.c-font-yellow-3.c-font-bold.c-font-center
                | 虛實整合
              p.c-font-white.c-font-16
                | 專業師資內容，業界資深工程師及架構師帶領入門，從基礎開發到實戰體驗，跟著前輩的經驗逐步學習。
          .col-xs-12.col-sm-4.c-card
              span.icon-rocket
              h3.c-font-24.c-font-yellow-3.c-font-bold.c-font-center
                | 業界經驗
              p.c-font-white.c-font-16
                | 瞭解第一手最新技術，學習最貼近業界技術趨勢的教學內容。
          .col-xs-12.col-sm-4.c-card
              span.icon-speedometer
              h3.c-font-24.c-font-yellow-3.c-font-bold.c-font-center
                | 實際應用
              p.c-font-white.c-font-16
                | 打造完全開發環境，透過遠端方式零時差進行技術學習。

    //- BEGIN: CONTENT/SLIDERS/TEAM-1
    section.course-content.c-bg-white#course
      .c-content-box.c-size-md
        .c-content-title#course-title
          h3.c-center.c-font-bold.c-font-28 近期課程
          
        .container
          .c-course-slider(data-slider='owl',  data-items='3', data-desktop-items='3', data-tablet-items='2', data-mobile-small-items='1')
            .owl-carousel.owl-course
              .item
                .c-course-detail
                  .c-caption.c-content-overlay(style="background-image:url('assets/img/content/stock/010.jpg')")
                    .c-overlay-wrapper
                      .c-overlay-content
                        p.c-font-white 課程介紹課程介紹課程介紹課程介紹課程介紹
                  .c-body
                    .c-head.c-font-20.c-font-yellow-3
                      | HTML / CSS 前端基礎課程 
                      br
                      | Front-end for Newbie
                    
                    .c-date.c-font-20
                      i.fa.fa-calendar
                      | 2016.04.01
                      br
                      i.fa.fa-clock-o
                      | 09:00 - 17:00
                    button.btn.btn-block.btn-danger(type='button') 立即報名
                  .c-tags
                    span.icon-tag
                    | HTML, CSS, Newbie
              
              .item
                .c-course-detail
                  .c-caption.c-content-overlay(style="background-image:url('assets/img/content/stock/09.jpg')")
                    .c-overlay-wrapper
                      .c-overlay-content
                        p.c-font-white 課程介紹課程介紹課程介紹課程介紹課程介紹
                        
                  .c-body
                    .c-head.c-font-20.c-font-yellow-3
                      | Jenkins 環境維運課程 
                      br
                      | Jenkins DevOps for Newbie
                      
                    .c-date.c-font-20
                      i.fa.fa-calendar
                      | 2016.04.01
                      br
                      i.fa.fa-clock-o
                      | 09:00 - 17:00
                    button.btn.btn-block.btn-danger(type='button') 立即報名
                  .c-tags
                    span.icon-tag
                    | Jenkins, Newbie
              .item
                .c-course-detail
                  .c-caption.c-content-overlay(style="background-image:url('assets/img/content/stock/010.jpg')")
                    .c-overlay-wrapper
                      .c-overlay-content
                        p.c-font-white 課程介紹課程介紹課程介紹課程介紹課程介紹
                  .c-body
                    .c-head.c-font-20.c-font-yellow-3
                      | HTML / CSS 前端基礎課程 
                      br
                      | Front-end for Newbie
                    
                    .c-date.c-font-20
                      i.fa.fa-calendar
                      | 2016.04.01
                      br
                      i.fa.fa-clock-o
                      | 09:00 - 17:00
                    button.btn.btn-block.btn-danger(type='button') 立即報名
                  .c-tags
                    span.icon-tag
                    | HTML, CSS, Newbie
              
              .item
                .c-course-detail
                  .c-caption.c-content-overlay(style="background-image:url('assets/img/content/stock/09.jpg')")
                    .c-overlay-wrapper
                      .c-overlay-content
                        p.c-font-white 課程介紹課程介紹課程介紹課程介紹課程介紹
                        
                  .c-body
                    .c-head.c-font-20.c-font-yellow-3
                      | Jenkins 環境維運課程 
                      br
                      | Jenkins DevOps for Newbie
                      
                    .c-date.c-font-20
                      i.fa.fa-calendar
                      | 2016.04.01
                      br
                      i.fa.fa-clock-o
                      | 09:00 - 17:00
                    button.btn.btn-block.btn-danger(type='button') 立即報名
                  .c-tags
                    span.icon-tag
                    | Jenkins, Newbie
                    
        .col-md-12
          a.btn.btn-md.c-btn-border-1x.c-theme-btn.c-font-18.c-more(href='') 瀏覽更多課程
          
    // BEGIN: CONTENT/TILES/TILE-2
    section.blog-content
      .c-content-box
        .c-content-tile-grid.c-bs-grid-reset-space(data-auto-height='true')
          .row
            .col-md-6
              .c-content-tile-1
                .row
                  .col-sm-6
                    .c-tile-content.c-bg-white.c-arrow-left
                      .c-image.c-overlay-object(data-height='height', style='background-image: url(assets/img/content/stock/12_grey.jpg)')
                  .col-sm-6
                    .c-tile-content.c-bg-white(data-height='height')
                      .c-wrapper
                        .c-body
                          h3.c-tile-title.c-font-bold.c-center AMP 與 RWD ？
                          p.c-tile-body.c-font-15
                            | 行動網路的網頁讀取的效能一直的開發者關注的議題，因此 2015 年 10 月， Google 宣布 加速行動網頁（Accelerated Mobile Pages ， AMP）計畫。
                          a.btn.btn-sm.c-btn-grey-2.c-btn-uppercase.c-btn-bold.c-btn-border-1x.c-btn-square(href='#' target="_blank") More
            
            .col-md-6
              .c-content-tile-1
                .row
                  .col-sm-6
                    .c-tile-content.c-bg-white.c-arrow-left
                      .c-image.c-overlay-object(data-height='height', style='background-image: url(assets/img/content/stock/39_grey.jpg)')
                  .col-sm-6
                    .c-tile-content.c-bg-white(data-height='height')
                      .c-wrapper
                        .c-body
                          h3.c-tile-title.c-font-bold.c-center 新世代行動開發框架 : lonic 2
                          p.c-tile-body.c-font-15
                            | 網頁程式設計大約起源於西元1990年的HTML，之後更有許多不同的網頁程式語言和框架如雨後春筍般冒出。
                          a.btn.btn-sm.c-btn-grey-2.c-btn-bold.c-btn-border-1x.c-btn-square(href='#' target="_blank") More
            
            .col-md-12
              a.btn.btn-md.c-btn-border-1x.c-btn-grey-2.c-btn-bold.c-read-more(href='http://blog.mokayo.com/' target="_blank") 更多文章

    
    //- BEGIN:CONTENT/SLIDERS/CLIENT-LOGOS-2
    section.parter-content
      .c-content-box.c-size-sm
        .c-content-title-1
          h3.c-center.c-font-bold 合作夥伴
 
      .container.parter-box
        .row
          .col-xs-12.col-sm-3
          .col-xs-12.col-sm-3
            a(href='http://exma-square.co/' target="_blank")
              img(src='assets/images/partner-exma.png', alt='EXMA-square.co')
          .col-xs-12.col-sm-3
            a(href='http://trunk-studio.com/' target="_blank")
              img(src='assets/images/partner-trunk.png', alt='')
                    
    section.subscribe-content
      .c-content-box.c-size-md.c-bg-parallax
        .container
          .col-sm-4
            h3.c-center.c-font-bold.c-font-white.c-font-24 
              i.fa.fa-bolt
              | 掌握第一手資訊
          .col-sm-6
            form(action='#')
              .input-group.input-group-lg
                input.form-control.c-square.c-font-grey-3.c-border-grey.c-theme(type='text', placeholder='Your Email Here')
                span.input-group-btn
                  button.btn.c-theme-btn.c-theme-border.c-btn-square.c-btn-uppercase.c-font-16(type='button') 訂閱電子報


  include ./partials/_footer