a(name='footer')
footer.c-layout-footer.c-layout-footer-3.c-bg-dark
  .c-prefooter
    .container
      .row
        .col-md-3
          .c-container.c-first
            .c-content-title-1
              h3.c-font-bold.c-font-white Mokayo
            
            ul.c-links
              li
                a(href='#') 課程
              li
                a(href='http://blog.mokayo.com/') 部落格
              li
                a(href='#') 關於 
                span > 
                a(href='#') 團隊介紹
              li
                a(href='#') FAQ
            ul.c-address
              li
                i.icon-envelope.c-theme-font
                |  email@example.com
              li
                i.icon-call-end.c-theme-font
                |  +1800 1234 5678
              li
                i.icon-pointer.c-theme-font
                |  One Boulevard, Beverly Hills


                
        .col-md-5
          .c-container
            .c-content-title-1
              h3.c-font-bold.c-font-white 最新文章
            
            .c-blog
              .c-post
                .c-post-img
                  img.img-responsive(src='assets/img/content/stock/9.jpg', alt='')
                .c-post-content
                  h4.c-post-title
                    a(href='http://blog.mokayo.com/amp-yu-rwd/') AMP 與 RWD ？
                  p.c-text 行動網路的網頁讀取的效能一直的開發者關注的議題，因此 2015 年 10 月， Google 宣布 加速行動網頁（Accelerated Mobile Pages ， AMP）計畫。...
              .c-post.c-last
                .c-post-img
                  img.img-responsive(src='assets/img/content/stock/14.jpg', alt='')
                .c-post-content
                  h4.c-post-title
                    a(href='http://blog.mokayo.com/xin-shi/') 新世代行動開發框架 : lonic 2
                  p.c-text
                    | 網頁程式設計大約起源於西元1990年的HTML，之後更有許多不同的網頁程式語言和框架如雨後春筍般冒出。...
              a.btn.btn-md.c-btn-border-1x.c-btn-grey-2.c-btn-uppercase.c-btn-bold.c-read-more(href='http://blog.mokayo.com/') Read More
        
        .col-md-4
          .c-container.c-last
            .c-content-title-1
              h3.c-font-uppercase.c-font-bold.c-font-white 聯絡我們
              
              .c-footer-4-p-left
                .c-feedback
                  form(action='#')
                    input.form-control(type='text', placeholder='Your Name')
                    input.form-control(type='text', placeholder='Your Email')
                    textarea.form-control(rows='5', name='message', placeholder='Write comment here ...')
                    button.btn.btn-block.c-btn-grey-2.c-btn-border-1x.c-btn-uppercase.btn-md.c-btn-bold(type='submit') Send


  .c-postfooter
    .container
      .row
        .col-sm-12.c-col
          p.c-copyright.c-font-grey.c-center
            | 2016 © Mokayo 
            span.c-font-grey-3 All Rights Reserved.

//- BEGIN: LAYOUT/FOOTERS/GO2TOP
.c-layout-go2top
  i.icon-arrow-up
