a(name='footer')
footer.c-layout-footer.c-layout-footer-3.c-bg-dark
  .c-prefooter
    .container
      .row
        .col-md-6
          .c-container.c-first
            .c-content-title-1
              h3.c-font-bold.c-font-white Mokayo
            
            ul.c-links
              li
                a(href='#') 課程
              li
                a(href='http://blog.mokayo.com/') 部落格
              li
                a(href='#') 關於 
                span > 
                a(href='#') 團隊介紹
              li
                a(href='#') FAQ
            ul.c-address
              li
                i.icon-envelope.c-theme-font
                |  we@exma-square.co
              li
                i.icon-call-end.c-theme-font
                |  +886-2-2562-0745
              //- li
              //-   i.icon-pointer.c-theme-font
              //-   |  台北市中山區松江路

        .col-md-6
          .c-container.c-last
            .c-content-title-1
              h3.c-font-uppercase.c-font-bold.c-font-white 聯絡我們
              
              .c-footer-4-p-left
                .c-feedback
                  form(action='#')
                    input.form-control(type='text', placeholder='Your Name')
                    input.form-control(type='text', placeholder='Your Email')
                    textarea.form-control(rows='5', name='message', placeholder='Write comment here ...')
                    button.btn.btn-block.c-btn-grey-2.c-btn-border-1x.c-btn-uppercase.btn-md.c-btn-bold(type='submit') Send


  .c-postfooter
    .container
      .row
        .col-sm-12.c-col
          p.c-copyright.c-font-grey.c-center
            | 2016 © Mokayo 
            span.c-font-grey-3 All Rights Reserved.

//- BEGIN: LAYOUT/FOOTERS/GO2TOP
.c-layout-go2top
  i.icon-arrow-up
