<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
  <div class="c-prefooter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="c-container c-first">
            <div class="c-content-title-1">
              <h3 class="c-font-bold c-font-white">miiixr</h3>
            </div>
            <ul class="c-links">
              <li><a href="#index" data-t="menu.index"></a></li>
              <li><a href="#intro" data-t="menu.intro"></a></li>
              <li><a href="#feature" data-t="menu.feature"></a></li>
              <li><a href="#joinus" data-t="menu.contact"></a></li>
            </ul>
            <ul class="c-address">
              <li><i class="icon-envelope c-theme-font"></i> we@exma-square.co</li>
              <li><i class="icon-call-end c-theme-font"></i> +886-2-2562-0745</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="c-postfooter">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 c-col">
          <p class="c-copyright c-font-grey c-center">2016 © <a href="http://www.miiixr.com">miiixr.com</a><span class="c-font-grey-3">All Rights Reserved.</span></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="c-layout-go2top"><i class="icon-arrow-up"></i></div>
