.about-content #about-mokayo h3,.course-content .c-course-slider .c-course-detail .c-body .c-head{border-bottom:1px solid #c5b96b}
.c-layout-revo-slider{position:relative;z-index:2;box-shadow:2px 4px 10px rgba(51,51,51,.5)}
.about-content{background:#fff}
.about-content #about-mokayo{background-color:rgba(242,193,0,.7);box-shadow:0 4px 10px rgba(51,51,51,.5);width:82%;margin:0 auto;padding:40px 60px}
.about-content #about-mokayo h3{text-indent:-80px;padding:15px 0}
.about-content #about-mokayo h3 span{margin-left:10px}
.about-content #about-mokayo p{color:#50555b;line-height:32px;padding:20px 0 10px}
.feature-content{box-shadow:0 4px 10px rgba(51,51,51,.3);position:relative;z-index:1}
.feature-content>.container-fluid>.row{padding:40px}
.feature-content .c-card{background-color:rgba(119,119,119,.3);margin-top:30px;padding:40px}
.feature-content .c-card:first-child{margin-top:0}
.feature-content .c-card span{display:block;width:40px;height:40px;margin:0 auto 20px;color:#c5b96b;font-size:40px}
.feature-content .c-card p{padding-top:10px;line-height:24px}
.course-content{position:relative;padding-bottom:40px}
.course-content .c-content-title{background-color:rgba(242,193,0,.7);box-shadow:0 4px 10px rgba(51,51,51,.3);position:absolute;left:9%;top:0;width:82%;height:55%;padding:40px 0}
.course-content .c-course-slider{margin:60px 15px;padding:60px 10px 0;border-top:1px solid #c5b96b}
.course-content .c-course-slider .c-course-detail .c-body .c-date i,.course-content .c-course-slider .c-course-detail .c-tags span{margin-right:10px}
.course-content .c-course-slider .c-course-detail{background-color:#333}
.course-content .c-course-slider .c-course-detail .c-caption{height:200px;background-position:top center;background-size:cover}
.course-content .c-course-slider .c-course-detail .c-body{padding:30px 30px 20px}
.course-content .c-course-slider .c-course-detail .c-body .c-date{color:#ddd;line-height:32px;padding:15px 0}
.course-content .c-course-slider .c-course-detail .c-tags{background-color:#CFD8DC;width:100%;padding:5px 30px}
.course-content .c-more{display:block;width:25%;margin:0 auto}
.blog-content{padding:80px 0 60px}
.blog-content .c-tile-content p{padding:10px 0}
.blog-content .c-tile-content a{position:absolute;bottom:10px;right:40px}
.parter-content{padding:40px 0}
.parter-content .parter-box{border-top:1px solid #ddd;padding:40px 0}
.parter-content .parter-box img{display:block;height:160px;margin:0 auto;opacity:.7;transition:opacity .5s ease-in-out}
.parter-content .parter-box img:hover{opacity:1;transition:opacity .3s ease-in-out}
.subscribe-content{padding:20px 0}
.subscribe-content i{color:#f2c100;margin-right:10px}
@media (max-width:991px){.course-content .c-more{display:block;width:auto;margin:60px auto 0}
}
@media (min-width:768px){.feature-content>.container-fluid{display:table;border-spacing:20px}
.feature-content>.container-fluid>.row{display:table-row}
.feature-content .c-card{display:table-cell;float:none}
}